# ===========================
# Ignore Python Build Files
# ===========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# ===========================
# Ignore Python Virtual Environment
# ===========================
venv/
envs/*/venv/
*.env

# ===========================
# Ignore Logs and Temporary Files
# ===========================
logs/
*.log
*.tmp
*.temp

# ===========================
# Ignore Data Files
# ===========================
data/raw/
data/interim/
data/processed/

# ===========================
# Ignore Experiment Outputs
# ===========================
experiments/
outputs/

# ===========================
# Ignore Jupyter Notebook Checkpoints
# ===========================
notebooks/.ipynb_checkpoints/

# ===========================
# Ignore Test Outputs
# ===========================
tests/**/__pycache__/
tests/**/.pytest_cache/
tests/**/results/

# ===========================
# Ignore IDE & OS Specific Files
# ===========================
.DS_Store
.vscode/

# ===========================
# Ignore Test Scripts
# ===========================
run_EC.sh
run_PA.sh
run_SA.sh
finetuned_EC.sh
finetuned_PA.sh
finetuned_SA.sh

# ===========================
# Ignore API-related runtime data
# ===========================
api_data/uploads/
api_data/predictions/
api_data/logs/
src/api

# ===========================
# Ignore Visualization & Local Custom Scripts
# ===========================
src/analysis/
src/features/motif.py
src/features/visualize_cgr.py
src/features/cgr_plot.py
configs/visualization.json
